{% config_var 'INSTALLED_APPS' as INSTALLED_APPS %}
<ul class="side-menu-container" style="padding:0;">
    <li>
        <div class="side-menu-label"><a href="{% url 'hierarchy.list' %}">Struktura firmy</a></div>
        <div class="side-menu-icon"><a href="{% url 'hierarchy.list' %}"
                                       data-toggle="tooltip" data-container="body" data-placement="right" title="Struktura firmy">
            <i class="fas fa-project-diagram"></i>
        </a>
        </div>
    </li>
    <li>
        <div class="side-menu-label"><a href="{% url 'user.listgroup' %}">Uprawnienia</a></div>
        <div class="side-menu-icon"><a href="{% url 'user.listgroup' %}"
                                       data-toggle="tooltip" data-container="body" data-placement="right" title="Uprawnienia">
            <i class="fas fa-users-cog"></i>
        </a></div>
    </li>

    <hr/>

    <li>
        <div class="side-menu-label"><a href="{% url 'client.current_contacts' %}">Bieżące kontakty</a></div>
        <div class="side-menu-icon"><a href="{% url 'client.current_contacts' %}"
                                       data-toggle="tooltip" data-container="body" data-placement="right" title="Bieżące kontakty">
            <i class="fas fa-hands-helping"></i>
        </a></div>
    </li>

    <li>
        <div class="side-menu-label"><a href="{% url 'client.list' %}">Klienci</a></div>
        <div class="side-menu-icon"><a href="{% url 'client.list' %}"
                                       data-toggle="tooltip" data-container="body" data-placement="right" title="Klienci">
            <i class="fas fa-user-friends"></i>
        </a></div>
    </li>

    <li>
        <div class="side-menu-label"><a href="{% url 'employee.list' %}">Pracownicy</a></div>
        <div class="side-menu-icon"><a href="{% url 'employee.list' %}"
                                       data-toggle="tooltip" data-container="body" data-placement="right" title="Pracownicy">
            <i class="fas fa-user-tie"></i>
        </a></div>
    </li>


    <li>
        <div class="side-menu-label"><a href="{% url 'adviser.list' %}">Doradcy</a></div>
        <div class="side-menu-icon"><a href="{% url 'adviser.list' %}"
                                       data-toggle="tooltip" data-container="body" data-placement="right" title="Doradcy">
            <i class="fas fa-user-graduate"></i>
        </a></div>
    </li>

    <li>
        <div class="side-menu-label"><a href="{% url 'broker.list' %}">Pośrednicy</a></div>
        <div class="side-menu-icon"><a href="{% url 'broker.list' %}"
                                       data-toggle="tooltip" data-container="body" data-placement="right" title="Pośrednicy">
            <i class="fas fa-people-arrows"></i>
        </a></div>
    </li>

    <hr/>

    <li>
        <div class="side-menu-label"><a href="{% url 'contractor.list' %}">Partnerzy biznesowi</a></div>
        <div class="side-menu-icon"><a href="{% url 'contractor.list' %}"
                                       data-toggle="tooltip" data-container="body" data-placement="right" title="Partnerzy biznesowi">
            <i class="fas fa-users-cog"></i>
        </a></div>
    </li>

    {#    <li>#}
    {#        <div class="side-menu-label"><a href="{% url 'lawoffice.list' %}">Kancelarie</a></div>#}
    {#        <div class="side-menu-icon"><a href="{% url 'lawoffice.list' %}"#}
    {#                                       data-toggle="tooltip" data-container="body" data-placement="right" title="Kancelarie">#}
    {#            <i class="fas fa-balance-scale-right"></i>#}
    {#        </a></div>#}
    {#    </li>#}


    <hr/>


    {#    <li>#}
    {#        <div class="side-menu-label"><a href="{% url 'attribute.list' %}">Atrybuty</a></div>#}
    {#        <div class="side-menu-icon"><a href="{% url 'attribute.list' %}"#}
    {#                                       data-toggle="tooltip" data-container="body" data-placement="right" title="Atrybuty">#}
    {#            <i class="fas fa-list-alt"></i>#}
    {#        </a></div>#}
    {#    </li>#}
    <li>
        <div class="side-menu-label"><a href="{% url 'document.type.list' %}">Wnioski</a></div>
        <div class="side-menu-icon"><a href="{% url 'document.type.list' %}"
                                       data-toggle="tooltip" data-container="body" data-placement="right" title="Wnioski">
            <i class="fas fa-book"></i>
        </a></div>
    </li>
    <li>
        <div class="side-menu-label"><a href="{% url 'product.list_all_products' %}">Produkty</a></div>
        <div class="side-menu-icon"><a href="{% url 'product.list_all_products' %}"
                                       data-toggle="tooltip" data-container="body" data-placement="right" title="Produkty">
            <i class="fas fa-industry"></i>
        </a></div>
    </li>
        <hr />

        <li>
            <div class="side-menu-label"><a href="{% url 'schedule_app.index' %}">Kalendarz</a></div>
            <div class="side-menu-icon"><a href="{% url 'schedule_app.index' %}"
                                           data-toggle="tooltip" data-container="body" data-placement="right" title="Kalendarz">
                <i class="fas fa-calendar-alt"></i>
            </a></div>
        </li>
    <hr/>
    {#        <li><a href="{% url 'contractor.list' %}">Kontrahenci</a></li>#}
{#    <li>#}
{#        <div class="side-menu-label"><a href="{% url 'schedule.calendar.all' %}">Kalendarz</a></div>#}
{#        <div class="side-menu-icon">#}
{#            <a href="{% url 'schedule.calendar.all' %}" data-toggle="tooltip" data-container="body" data-placement="right" title="Kalendarz">#}
{#                <i class="far fa-calendar-alt"></i>#}
{#            </a>#}
{#        </div>#}
{#    </li>#}
{##}
{#    <li>#}
{#        <div class="side-menu-label"><a href="{% url 'schedule.calendar' user.pk %}">Kalendarz - moje</a></div>#}
{#        <div class="side-menu-icon">#}
{#            <a href="{% url 'schedule.calendar' user.pk %}" data-toggle="tooltip" data-container="body" data-placement="right" title="Kalendarz - moje">#}
{#                <i class="far fa-calendar"></i>#}
{#            </a>#}
{#        </div>#}
{#    </li>#}
{#    <hr/>#}

    {#    <li><a href="#">Kalendarz - ustawienia</a>#}
    {#        <ul style="padding-left:15px; font-size:10px;">#}
    {#            <li><a href="{% url 'schedule.year_calendar.calendar' %}">Dni wolne i święta</a></li>#}
    {#            <li><a href="{% url 'schedule.type.list' %}">Typy zdarzeń</a></li>#}
    {#            <li><a href="{% url 'schedule.stats' %}">Statystyki</a></li>#}
    {#        </ul>#}
    {#    </li>#}
    {#    <li><a href="{% url 'meeting_room.list' %}">Sale i pomieszczenia</a></li>#}
    {#    <li><a href="{% url 'document.type.category.list' %}">Kategorie dokumentów</a></li>#}


    {#    <li><a href="{% url 'document.type.list' %}">Produkty strukturalne</a></li>#}
    {#    {% if 'apps.product_retail' in INSTALLED_APPS %}#}
    {#        <li><a href="{% url 'product_retail.list' %}">Produkty detaliczne</a></li>#}
    {#    {% endif %}#}

    <li>
        <div class="side-menu-label"><a href="{% url 'message.template.list' %}">Powiadomienia</a></div>
        <div class="side-menu-icon"><a href="{% url 'message.template.list' %}"
                                       data-toggle="tooltip" data-container="body" data-placement="right" title="Powiadomienia">
            <i class="fas fa-envelope"></i>
        </a></div>
    </li>
    <hr/>

    <li>
        <div class="side-menu-label"><a href="{% url 'marketing.lp.list' %}">Marketing</a></div>
        <div class="side-menu-icon"><a href="{% url 'marketing.lp.list' %}"
                                       data-toggle="tooltip" data-container="body" data-placement="right" title="Marketing">
            <i class="fas fa-comment-dollar"></i>
        </a></div>
    </li>

    <li>
        <div class="side-menu-label"><a href="{% url 'partner.lead.list' %}">Partner</a></div>
        <div class="side-menu-icon"><a href="{% url 'partner.lead.list' %}"
                                       data-toggle="tooltip" data-container="body" data-placement="right" title="Partner">
            <i class="fas fa-handshake"></i>
        </a></div>
    </li>

    {#    <li><a>Dokumenty księgowe</a>#}
    {#        <ul style="padding-left:15px; font-size:10px;">#}
    {#            <li><a href="{% url 'invoice.list' %}">Faktury</a></li>#}
    {#        </ul>#}
    {#    </li>#}

    <hr/>

    <li>
        <div class="side-menu-label"><a href="{% url 'table_report.list' %}">Raporty...</a></div>
        <div class="side-menu-icon"><a href="{% url 'table_report.list' %}"
                                       data-toggle="tooltip" data-container="body" data-placement="right" title="Raporty...">
            <i class="fa fa-table"></i>
        </a></div>
    </li>

    <li>
        <div class="side-menu-label"><a href="{% url 'login.logout' %}">Wyloguj...</a></div>
        <div class="side-menu-icon"><a href="{% url 'login.logout' %}"
                                       data-toggle="tooltip" data-container="body" data-placement="right" title="Wyloguj...">
            <i class="fas fa-sign-out-alt"></i>
        </a></div>
    </li>

</ul>
