{% extends "base.html" %}
{% load static %}

{% block form_icon %}fa fa-code-fork{% endblock %}
{% block form_title %}Nowa grupa {% endblock %}
{% block form_subtitle %}{% endblock %}
{% block form_title_right %}
    <button class="btn btn-success pull-right btn-submit" type="submit"><i class="fa fa-user pad-r"></i>Zapisz</button>
{% endblock %}

{% block site_script %}
    {#    {% include "employee/_partial/_site_script._js" %}#}
{% endblock %}

{% block site_inline_js %}
    <script type="text/javascript" src="{% static 'user/js/group.js' %}"></script>
{% endblock %}

{% block content %}
    <form method="post" id="group-form">
        {% csrf_token %}
        {% include "user/group/_partial/_group_form_elements.html" with form=form perm_form=perm_form mode=mode %}

    </form>

{% endblock %}
