{% extends "user_complete.html" %}
{% load static %}

{% block content %}

    <style>
        .background-opacity {
            background-color: rgba(255, 255, 255, .6);
            padding: 10px;
            border: solid 1px white;
        }

        .background-opacity input {
            background-color: rgba(255, 255, 255, .7);
            color: #000;
        }
    </style>

    <div class="center-block text-center background-opacity panel panel-default" style="width:80%; margin-top: 60px;">
        <h1>Ups...<br>Wystąpiły problemy podczas zatwierdzania uczestnictwa:</h1>
        <h3>{{ errmsg }}</h3>
        <h5>Sprawdź, czy Twój udział nie został już wcześniej zatwierdzony </h5>
        <h5>W razie dalszych problemów zgłoś je na adres <a href="mailto:crm@speedcashpolska.pl">crm@speedcashpolska.pl</a></h5>
    </div>

{% endblock %}