.widget-current-contact-container {
  color: #7a7a7a;
}

.widget-current-contact-container hr {
  margin: 0;
}

.widget-current-contact-container a {
  color: inherit;
}

.widget-current-contact-container table thead {
  font-weight: 700;
}

.widget-current-contact-container a:hover {
  text-decoration: underline;
}

.current-contacts-event-data-container {
  text-overflow: ellipsis;
}

ul.widget-current-contacts-data-container {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.widget-current-contacts-data-container li {
  position: relative;
  border-bottom: 1px solid #ddd;
  padding: 5px 5px;
  cursor: pointer;
  display: inline-block;
  clear: both;
  width: 100%;
}

.widget-current-contacts-green-dot {
  background-color: #4ea945;
}

.widget-current-contacts-yellow-dot {
  background-color: #f9c534;
}

.widget-current-contacts-red-dot {
  background-color: #cb5151;
}

i.widget-current-contacts-red-dot {
  color: #cb5151;
  background-color: unset;
  font-size: 22px;
}

.widget-current-contacts-date-container {
  font-size: 14px;
}

.widget-current-contacts-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: calc(100% - 30px);
  overflow: hidden;
  pointer-events: none;
}

.widget-current-contacts-overdue-days {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 3px;
  left: -3px;
  font-size: 11px;
  font-weight: 700;
  color: #5e5e5e;
  pointer-events: none;
}

.widget-current-contacts-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  pointer-events: none;
  font-weight: 700;
  padding-right: 10px;
}

.widget-current-contacts-close-event {
  //position: absolute;
  right: 15px;
  display: none;
  width: 25px;
  height: 25px;
  padding-top: 7px;
  padding-right: 1px;
  background-color: #c51616;
  margin-top: 6px;
}

.widget-current-contacts-close-event i {
  pointer-events: none;
}

ul.widget-current-contacts-data-container li:hover .widget-current-contacts-close-event {
  display: block;
}

.widget-current-contacts-row-content {
  pointer-events: none;
  width: 70%;
  float: left;
  max-width: 70%;
}

.widget-current-contacts-row-overdue-days {
  float: right;
  clear: right;
  font-size: 20px;
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}