{% load mptt_tags %}
<div class="role-tree">
    {{ field.errors }}
    <ul>
        {% recursetree hierarchy %}<li>
                <label for="hierarchy_{{ node.id }}">
                    <input data-groups="{% for i in node.hierarchy_groups.all %}{{ i.pk }},{% endfor %}" name="{{ form.prefix }}-hierarchy" id="hierarchy_{{ node.id }}" type="radio"
                           value="{{ node.id }}" {% if node.id in field.value|list_str_to_int %} checked="checked" {% endif %}/> {{ node.name }}
                </label>
                {% if not node.is_leaf_node %}
                    <ul class="children">
                        {{ children }}
                    </ul>
                {% endif %}
            </li>
        {% endrecursetree %}
    </ul>
</div>
