<template id="scan_thumbnail_template">

    <div class="thumbnail thumbnail-image-container">
        <div class="thumbnail-btn thumbnail-close-btn"><i class="fa fa-times"></i></div>
        <div class="thumbnail-btn thumbnail-restore-btn"><i class="fa fa-redo"></i></div>
        <div class="thumbnail-image">
            <img data-type="scan" class="desaturate" src="/media/document/scan/tmp/__FILE_NAME__"/>
        </div>
    </div>
    <input class="thumbnail-value" type="hidden" name="scan" value="__FILE_NAME__"/>

</template>

