{% load static %}
<script type="text/javascript" src="{% static 'resource/full-calendar-3.9.0/dist/fullcalendar.min.js' %}"></script>
<script type="text/javascript" src="{% static 'resource/full-calendar-3.9.0/dist/locale/pl.js' %}"></script>
<script type="text/javascript" src="{% static 'resource/fancybox-2.1.17/source/jquery.fancybox.js' %}"></script>
<script type="text/javascript" src="{% static 'resource/jstree/dist/jstree.min.js' %}"></script>
<script type="text/javascript" src="{% static 'common/js/formUtils.js' %}"></script>
<script type="text/javascript" src="{% static 'resource/nouislider.js' %}"></script>

<script type="text/javascript" src="{% static 'schedule/js/calendar-utils.js' %}"></script>
<script type="text/javascript" src="{% static 'schedule/js/calendar-control.js' %}"></script>
<script type="text/javascript" src="{% static 'schedule/js/calendar_control_component/calendar-element.js' %}"></script>
<script type="text/javascript" src="{% static 'schedule/js/calendar.js' %}"></script>
<script type="text/javascript" src="{% static 'schedule/js/map.js' %}"></script>
<script type="text/javascript" src="{% static 'schedule/js/schedule-utils.js' %}"></script>
<script type="text/javascript" src="{% static 'schedule/js/schedule.js' %}"></script>
<script type="text/javascript" src="{% static 'schedule/js/schedule-form.js' %}"></script>
<script type="text/javascript" src="{% static 'product_retail/js/product-retail.js' %}"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2xzurQ2cqaJL83pxmG8KAMKz_4rdnHZk&libraries=places" async defer></script>