{% extends "base.html" %}
{% load mptt_tags %}
{% load i18n %}
{% block content %}

    <div class="col-xs-12">
        <a href="{% url 'attribute.add' %}" class="btn btn-success btn-sm pull-right">{% trans "attribute.add.button.label" %}</a>
    </div>

    <div class="">
        <table id="attribute_datatype" class="table table-hover table-condensed">
            <thead>
            <tr>
                <th style="width:30px">ID</th>
                <th>Nazwa</th>
                <th>Typ podstawowy</th>
                <th>Format domyślny</th>

                <th style="width:130px">Akcje</th>
            </tr>
            </thead>
            <tbody>
            {% for datatype in datatypes %}
                <tr>
                    <td>{{ attribute.name }}</td>
                    <td>{{ attribute.data_type }}</td>
                    <td>{{ attribute.format }}</td>


                    <td>
                        <div class="btn-group">
                            <a href="{% url 'meeting_room.add' room.id %}"
                               class="btn btn-default btn-sm edit">
                                <i class="fa fa-pencil"></i>
                            </a>
                        </div>
                    </td>
                </tr>

            {% endfor %}

            </tbody>
        </table>
    </div>
    </div>

{% endblock %}

{% block site_script %}

    $('#user_list a.password-reset').click(function (e) {

    el = $(this).parents('tr');

    swal({
    title: 'Jesteś pewien?',
    type: 'warning',
    showCancelButton: true,
    confirmButtonText: "Tak, generuj nowe hasło!",
    cancelButtonText: "Nie",
    closeOnConfirm: false,
    }, function () {

    });
    });

{% endblock %}