<div class="modal fade" id="addressHistoryModal" tabindex="-1" role="dialog"
     aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog" style="width: 70%">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Historia adresu</h4>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Data zmiany</th>
                                <th>Zmienił</th>
                                <th>Ulica</th>
                                <th>Nr</th>
                                <th>Nr domu</th>
                                <th>Kod</th>
                                <th>Miasto</th>
                                <th>Państwo</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody class="historyDataContainer"></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>

