<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">Dane</div>
            <div class="panel-body">
                {% include "py3ws/forms/fields/p3form_field.html" with field=form.name %}
                {% include "py3ws/forms/fields/p3form_field.html" with field=form.send_date %}
                {% include "py3ws/forms/fields/p3form_field.html" with field=form.receive_date %}
                {% include "py3ws/forms/fields/p3form_field.html" with field=form.cost %}
                {% include "py3ws/forms/fields/p3form_field.html" with field=form.description %}
                {{ form.report.as_hidden }}
            </div>
        </div>
    </div>

    {% if action.report %}

        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">Podgląd raportu</div>
                <div id="report_preview_container" class="panel-body" style="height: 500px;">
                    <embed type="application/pdf" src="/media/reports/output/{{ action.report.file_name }}" width="100%" height="100%"></embed>
                </div>
            </div>
        </div>

    {% endif %}
</div>

