{% include 'py3ws/forms/fields/p3form_field.html' with field=form.name %}
{% include 'py3ws/forms/fields/p3form_field.html' with field=form.code %}
{% include 'py3ws/forms/fields/p3form_field.html' with field=form.description %}
{% include 'py3ws/forms/fields/p3form_field.html' with field=form.data_type %}
{% include 'py3ws/forms/fields/p3form_field.html' with field=form.is_required %}
{% include 'py3ws/forms/fields/p3form_field.html' with field=form.section %}
{#{% include 'py3ws/forms/p3form_field.html' with field=form.sq %}#}