@import "~tabulator-tables/src/scss/tabulator";
@import "../../_core/controls/tabulator-table/scss/tabulator-table";
@import "~tabulator-tables/dist/css/bootstrap/tabulator_bootstrap.min";


.tabulator {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.calc-table-due-date {
  background-color: #d7ecff !important;
}

//calc-table-calc-date
.calc-table-calc-date {
  color: #a76e1b;
}

.tabulator-row-odd .calc-table-calc-date {
  background-color: #fffce6;
}

.tabulator-row-even .calc-table-calc-date {
  background-color: #f3f0d9;
}

//calc-table-interest-delay
.calc-table-interest-delay {
  color: #bb120f;
  border-right-color: #f7a7a7 !important;
}

.calc-table-interest-delay-max {
  color: #bb120f;
  border-right-color: #f7a7a7 !important;
  font-weight: bold;
}

.tabulator-row-odd .calc-table-interest-delay, .tabulator-row-odd .calc-table-interest-delay-max {
  background-color: #ffdfdf;
}

.tabulator-row-even .calc-table-interest-delay, .tabulator-row-even .calc-table-interest-delay-max {
  background-color: #f5c7c4;
}

//calc-table-cost
.calc-table-cost {
  color: #1a5090;
  border-right-color: #8cabca !important;
}

.tabulator-row-odd .calc-table-cost {
  background-color: #dae8f9;
}

.tabulator-row-even .calc-table-cost {
  background-color: #b7d3fb;
}

//calc-table-instalment
.calc-table-instalment {
  color: #328931;
  background-color: #e5f5e3;
  border-right-color: #84b97f !important;
}

.tabulator-row-odd .calc-table-instalment {
  background-color: #e5f5e3;
}

.tabulator-row-even .calc-table-instalment {
  background-color: #c7e6c4;
}

//calc-table-instalment-accounting
.calc-table-instalment-accounting {
  color: #085242;
  background-color: #e3f5ec;
  border-right-color: #82bda6 !important;
}

.tabulator-row-odd .calc-table-instalment-accounting {
  background-color: #daefe7;
}

.tabulator-row-even .calc-table-instalment-accounting {
  background-color: #bbdccf;
}


.calc-table-instalment-overpaid {
  color: #a88d57;
}

//.calc-table-capital {
//  color: #78ad9a;
//}

.calc-table-modal-group-row {
  text-align: center;
  font-weight: bold;
  background-color: #ececec;
}

#calcTableRowDetails table td {
  font-size: 14px;
}


// cashflow type icons

.cashflow-icon {
  border: 2px solid white;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  color: white;
  padding: 6px 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  float: left;
  margin-right: 2px;
  opacity: .7;
  transition: opacity .4s;
}

.cashflow-icon:hover {
  opacity: 1;
  transition: opacity .4s;
}

.cashflow-icon span {
  font-size: 16px;
  font-weight: bold;
}

.cashflow-icon i {
  font-size: 16px;
}

.cashflow-icon-payment {
  background-color: #5cb85c;
}

.cashflow-icon-cost {
  background-color: #4472b8;
  padding-left: 10px;
}

.cashflow-icon-remission {
  background-color: #de7c36;
  padding-left: 10px;
}

.cash-flow-payment-payment td, .cash-flow-payment-payment input {
  color: #1e901e;
}

.cash-flow-payment-payment {
  background-color: #edf7ed;
}

.cash-flow-payment-payment:hover {
  background-color: #daf5df !important;
}

.cash-flow-payment-cost td, .cash-flow-payment-cost input {
  color: #255490;
}

.cash-flow-payment-cost {
  background-color: #e9f5ff;
}

.cash-flow-payment-cost:hover {
  background-color: #d7e6f9 !important;
}

#product-cashflow-formset-table td {
  font-size: 14px;
}

//
td.day {
  text-align: center;
}

.no-input-value {
  margin-left: 13px;
}

#cashflow-aggregates-container {
  height: 300px !important;
  max-height: 300px !important;
  overflow: auto !important;
}

.cashflow-aggregates-sum {
  text-align: right;
  font-weight: 700;
}

#cashFlowAggregatesModal td {
  font-size: 14px;
}

//------------------------ old styles ----------------------------//

th {
  font-weight: 700;
}

table#calc_table tbody, table#calc_table thead {
  display: block;
}

table#calc_table tbody {
  overflow: auto;
  height: 420px;
}

table#calc_table thead {
  margin-bottom: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
  width: calc(100% - 17px);
  #min-width: 1200px;
}

table#calc_table th {
  width: 100px;
  vertical-align: middle;
  border: 1px solid #cbcbcb;
  word-break: break-word;
}

table#calc_table td {
  width: 100px;
  text-align: right;
  vertical-align: middle;
  word-break: break-all;
}

textarea.form-control {
  height: 50px;
}

tr.cash-flow-payment-out > td > input, .cash-flow-payment-out > td > select {
  color: #d60000;
}


tr.cash-flow-payment-cost > td > input, .cash-flow-payment-cost > td > select {
  color: #325fa3;
}

#product-commission-formset-table td {
  vertical-align: middle;
}

#product-commission-formset-table textarea {
  height: 34px;
}


#product-interest-formset-table tr:first-child td {
  font-size: 14px;
}

.decimal-field input {
  text-align: right;
}

.cash-flow-interest {
  color: #d42828;
}

.cash-flow-cost {
  color: #398ed8;
}

.cash-flow-cost-total {
  color: #8cc6ec;
}

.cash-flow-instalment {
  color: #429c6f;
}

.cash-flow-instalment-total {
  color: #9cdcc5;
}


.product-schedule-agregates {
  vertical-align: middle;
  text-align: center;
  font-size: 12px !important;
}

.panel-heading-add-btn {
  color: #4e4e4e;
  font-size: 16px;
  cursor: pointer;
}

#product-cashflow-formset-container .panel-heading input[type="checkbox"] {
  margin: 0 0 0 10px;
}

#product-cashflow-formset-container .panel-heading label {
  margin: 0 0 0 3px;
  position: relative;
  top: -3px;
}

#product-cashflow-formset-container .panel-heading i {
  font-size: 16px;
}

#product-cashflow-formset-table thead th {
  text-align: center;
}

.cashflow-calculable {
  text-align: center;
}


.cashflow-calculable i {
  font-size: 16px;
}

.cashflow-calculable i.fa-check {
  color: #00a767;
}

.cashflow-calculable i.fa-times {
  color: #a70f03;
}

input[type="checkbox"] {
  width: 15px;
}

#document_list th {
  white-space: unset !important;
}

#product-schedule-formset-table tr:last-child td {
  border-top-width: 3px;
  background-color: #efefef;
}

.schedule-changed {
  color: #168bce;
}

input.schedule-changed {
  background-color: #eafaff;
}

#schedule-tab .panel-body, #cashflow-tab .panel-body {
  height: calc(100vh - 200px);
}

#calc-tab .panel-body {
  height: calc(100vh - 175px);
}

#cashflow-tab .panel-body {
  height: calc(100vh - 210px);
}

.schedule-instalment-total {
  font-weight: 700;
  text-align: right;
}

.schedule-instalment-interest, .schedule-instalment-capital, .schedule-instalment-commission {
  text-align: right;
}

.product-schedule-instalment-total, .product-schedule-instalment-interest {
  font-size: 14px !important;
}

// todo: finally it should be only in schedule css file - not duplicated
[data-__meta__change_flag="1"], [data-__meta__change_flag="2"] {
  background-color: #d5ebfd;
}

.revert-to-default-btn {
  top: -15px;
  right: -15px;
  background-color: #5cb85c;
  color: white;
  font-size: 14px;
  padding-top: 4px;
}

#product-schedule-table div, #product-schedule-table span {
  text-align: right;
}

tr.instalment-schedule-aggregates div, tr.instalment-schedule-aggregates span {
  font-weight: bold;
}

.product-available-statuses-dropdown ul {
  list-style: none;
  padding: 5px;
  font-weight: bold;
}

.product-available-statuses-dropdown li {
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
}

.product-available-statuses-dropdown li:hover {
  background-color: #afe8af;
}