<div class="row">
    <div class="col-sm-12">
        <div id="event-message-container">
            <a id="add_event_message_btn" href="#" class="btn btn-default">Dodaj notatkę</a>
            <div id="event_message_text_container" style="display:none">
                {{ form.text }}
                {#            <textarea class="form-control input-sm" name="event_message_text"></textarea>#}
            </div>
            <div>
                <ul id="event_messages">
                </ul>
            </div>
        </div>
    </div>
</div>

