<!-- Modal -->

<div id="{{ id }}" class="modal fade filter-dialog" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Filtrowanie</h4>
            </div>
            <div class="modal-body">
                <div style="overflow-x: hidden; overflow-y: auto; height:50%; padding-left: 15px; padding-right: 15px;">
                    <form id="filter-form" method="post">
                        {% csrf_token %}
                        {% include ''|add:include with form=form %}
                        {{ form.p3_sort_field }}
                        {{ form.p3_sort_dir }}
                        {{ form.p3_csv }}
{#                        <input type="hidden" name="p3_sort_field" id="p3_sort_field"/>#}
{#                        <input type="hidden" name="p3_sort_dir" id="p3_sort_dir"/>#}
{#                        <input type="hidden" name="p3_csv" id="p3_csv"/>#}

                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-submit-filter">Filtruj</button>
{#                <button type="button" class="btn btn-default clear-filter">Wyczyść</button>#}
                <button type="button" class="btn btn-default cancel" data-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>