<template id="custom-address-template">
    <tr data-type="route">
        <td>Ulica:</td>
        <td>__CUSTOM_ADDRESS.__STREET__</td>
    </tr>
    <tr data-type="street_number">
        <td>Nr:</td>
        <td>__CUSTOM_ADDRESS.__STREET_NO__</td>
    </tr>
    <tr data-type="apartment_no">
        <td>Nr lokalu:</td>
        <td>__CUSTOM_ADDRESS.__APARTMENT_NO__</td>
    </tr>
    <tr data-type="locality">
        <td>Miasto:</td>
        <td>__CUSTOM_ADDRESS.__CITY__</td>
    </tr>
{#    <tr data-type="administrative_area_level_1">#}
{#        <td>Województwo:</td>#}
{#        <td>__CUSTOM_ADDRESS.__PROVINCE__</td>#}
{#    </tr>#}
    <tr data-type="post_code">
        <td>Kod:</td>
        <td>__CUSTOM_ADDRESS.__POST_CODE__</td>
    </tr>
    <tr data-type="country">
        <td>Państwo:</td>
        <td>__CUSTOM_ADDRESS.__COUNTRY__</td>
    </tr>
    <tr data-type="email">
        <td>E-mail:</td>
        <td>__CUSTOM_ADDRESS.__EMAIL__</td>
    </tr>
    <tr data-type="phone">
        <td>Telefon:</td>
        <td>__CUSTOM_ADDRESS.__PHONE__</td>
    </tr>
</template>