{% extends "base.html" %}
{% load mptt_tags %}
{% load i18n %}
{% load static %}

{% block form_icon %}fa fa-code-fork{% endblock %}
{% block form_title %}Edycja typu produktu {% endblock %}
{% block form_subtitle %}{% endblock %}
{% block form_title_right %}
    <a class="btn btn-success btn-sm btn-submit">{% trans "Zapisz" %}</a>
{% endblock %}

{% block site_js %}
    <script type="text/javascript" src="{% static 'product/type/js/product-type.js' %}"></script>
{% endblock %}

{% block content %}

    {% if form %}

        {#        <div class="col-lg-12 col-sm-12 header-title">#}
        {#            <div style="float:left">#}
        {#                <h3>Typ produktu</h3>#}
        {#                <h4>Tworzenie / Edycja typów produków</h4>#}
        {#            </div>#}
        {#            <div style="float:right; margin:0 auto">#}
        {#                <button class="btn btn-success pull-right pad-t btn-submit" type="submit"><i class="fa fa-user pad-r"></i>Zapisz</button>#}
        {#            </div>#}
        {#        <border/div>#}
        {#        <div class="col-lg-12 col-sm-12">#}
        {#            <hr style="margin:0 0 10px 0">#}
        {#        </div>#}

        {% if form.errors %}
            <div class="col-lg-12">
                <div style="height:120px; overflow:auto; width:100%; background-color: #eee; border-radius:5px; margin:20px; padding:10px; border:1px solid #ddd">
                    <h3>błędy danych</h3>
                    {{ form.errors }}
                </div>
            </div>
        {% endif %}

        {% if cashflow_formset.errors %}
            {{ cashflow_formset.errors }}
        {% endif %}

        <form method="post" id="user-form">
            {% csrf_token %}
            {{ cashflow_formset.management_form }}
            <div class="col-lg-3 col-sm-3 pad-t">
                <div class="panel panel-default">
                    <div class="panel-heading">Dane typu produktu</div>
                    <div class="panel-body">
                        {% include 'product/type/_partial/_form_elements.html' with form=form accounting_order_values=accounting_order_values %}
                    </div>
                </div>
            </div>
            <div class="col-lg-9">

                <ul class="nav nav-tabs">
                    <li class="nav-item active">
                        <a data-toggle="tab" href="#cashflow-tab" aria-expanded="false">Przepływy - kolejność księgowania</a>
                    </li>
                    <li class="nav-item">
                        <a data-toggle="tab" href="#cashnoflow-tab" aria-expanded="false">Przepływy - bez kolejności księgowania</a>
                    </li>
                </ul>

                <div class="tab-content pad-t">
                    <div id="cashflow-tab" class="tab-pane fade in active">
                        <div class="col-lg-5 col-sm-5 pad-t">
                            <div class="panel panel-default">
                                <div class="panel-heading">Przepływy - kolejność księgowania</div>
                                <div class="panel-body">

                                    <table id="product-type-cashflow-formset-table" class="table table-hover table-condensed">
                                        <thead>
                                        <th style="width:20px;"></th>
                                        <th>Nazwa</th>
                                        <th style="width:50px;">Kolejność</th>
                                        </thead>
                                        <tbody class="sortable">
                                        {% for i in cashflow_formset %}
                                            {% include 'product/type/_partial/_formset/_row/_cashflow_formset_row_partial.html' with i=i index=forloop.counter0 %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    {% endif %}

{% endblock %}

{% block site_script %}{% endblock %}
