<div class="document-type-section">
    <div style="float:left">
        <i class="fa fa-arrows-alt-v sortable-handle" aria-hidden="true"></i>
        <span class="section-name">{{ i.name }}</span>
    </div>

    <div style="float:right">
        <div class="btn-group">
            <a href="{% url 'document.type.attribute.add' document_type.pk i.pk %}" class="btn btn-default btn-sm add-attribute">
                <i class="fa fa-plus" style="color:#333"></i>
            </a>
            <a href="{% url 'document.type.section.add_repeat_subsection' document_type.pk i.pk %}" class="btn btn-default btn-sm add-repeat-subsection">
                <i class="fas fa-redo" style="color:#333"></i>
            </a>
            <a href="{% url 'document.type.section.edit' i.pk %}"
               class="btn btn-default btn-sm">
                <i class="far fa-edit" aria-hidden="true" style="color:#333"></i>
            </a>
            <a href="{% url 'document.type.attribute.feature' document_type.pk i.pk %}" class="btn btn-default btn-sm">
                <i class="fas fa-check-circle"  aria-hidden="true" style="color:#333"></i>
            </a>
{#            <a class="btn btn-danger btn-sm delete-section">#}
{#                <i class="fa fa-trash-alt"></i>#}
{#            </a>#}
        </div>
    </div>
</div>
<input type="hidden" name="section_sq" class="sq-input" style="color:#000000" value="{{ i.sq }}"/>
<input type="hidden" name="section_id" style="color:#000000" value="{{ i.pk }}"/>