{% extends "base.html" %}
{% load static %}

{% block site_css %}
    <link href="{% static 'resource/treant/Treant.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'hierarchy/css/hierarchy.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block form_icon %}fas fa-user-edit{% endblock %}
{% block form_title %}Struktura Firmy{% endblock %}
{% block form_subtitle %}Zarządzanie strukturą Firmy{% endblock %}
{% block form_title_right %}{% endblock %}

{% block content %}
    {{ form.errors }}

    <div class="panel panel-default">
        <div class="panel-body">

            <div class="col-lg-12 col-sm-12">
                <div class="chart" id="basic-example"></div>
            </div>

            <div style="display:none">
                <form id="delete-hierarchy-form" method="post" action="{% url 'hierarchy.delete' %}">
                    {% csrf_token %}
                    <input type="hidden" name="node_id" id="node_id"/>
                </form>
            </div>
        </div>
    </div>

    {% include 'hierarchy/_partial/_add_hierarchy_form_modal.html' with form=form %}
    {% include "hierarchy/template/user_list_template.html" %}
    {% include "hierarchy/modal/user_list_modal.html" %}

{% endblock %}

{% block site_inline_js %}
    <script type="text/javascript" src="{% static 'hierarchy/js/hierarchy.js' %}"></script>
    <script type="text/javascript" src="{% static 'resource/raphael.js' %}"></script>
    <script type="text/javascript" src="{% static 'resource/treant/Treant.js' %}"></script>
{% endblock %}

{% block site_any_script %}
    <script>
        _g.hierarchy = {
            urls: {
                apiUrl: '{% url 'hierarchy.api' %}',
                userListUrl: '{% url 'hierarchy.user_list' %}',
                userEditUrl: '/user/edit/'
            },
            rootNode: {% root.pk %}
        }
    </script>
    {% include 'hierarchy/_partial/chart_config_partial.html' %}
{% endblock %}




