.widget-info-panel {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  font-variant: small-caps;
  //text-transform: capitalize;
}

.widget-info-panel-body {
  background-color: white;
  max-height: 180px;
  overflow-y: hidden;
  opacity: .8;
  padding-bottom: 15px;
}

.widget-info-panel-scroll-on-hover:hover {
  overflow-y: auto;
  overflow-y: overlay;
}
