<div id="scheduleFilterModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="vertical-alignment-helper" style="max-width:80%">
        <div class="modal-dialog vertical-align-center">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Filtrowanie danych</h4>
                </div>
                <div class="modal-body">

                    <div class="col-lg-6">
                        {% for i in schedule_type %}
                        <span class="checkbox-horizontal">
                            <input type="checkbox" name="type" value="{{ i.pk }}"><label>i.name</label>
                        </span>
                        {% endfor %}
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Filtruj</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                </div>
            </div>
        </div>
    </div>
</div>