<div id="invited_user_data_modal" class="modal fade" role="dialog" tabindex="-1">
    <div class="vertical-alignment-helper" style="max-width:80%">
        <div class="modal-dialog vertical-align-center" id="invited_user_data_container">
            <div class="modal-content">
                <div class="modal-header">
                    <div style="float: left">
                        <h4 class="modal-title"></h4>
                    </div>
                    <div style="float:right;">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                </div>
                <div class="modal-body">
                    <table class="table table-hover table-condensed" id="invited_user_data_table">
                        <tbody>
                        <tr>
                            <td>qqqqqq</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>