{% load static %}
<link href="{% static 'resource/full-calendar-3.9.0/dist/fullcalendar.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'resource/fancybox-2.1.17/source/jquery.fancybox.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'resource/jstree/css/themes/default/style.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'meeting_room/../../static/schedule/css/schedule-meeting-room.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/nouislider.css' %}?v3.3.7" rel="stylesheet" type="text/css">
<link href="{% static 'product_retail/css/product-retail.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'schedule/css/calendar.css' %}" rel="stylesheet" type="text/css">
