{% extends "base.html" %}
{% load mptt_tags %}
{% load i18n %}
{% load static %}

{% block form_icon %}fa fa-code-fork{% endblock %}
{% block form_title %}Prowizja dla typu produktu: {{ document_type.name }} {% endblock %}
{% block form_subtitle %}Nowa prowzja{% endblock %}

{% block form_title_right %}
    <a class="btn btn-success btn-submit">{% trans "Dodaj..." %}</a>
{% endblock %}

{% block site_any_script %}
{% endblock %}

{% block content %}

    {% if form %}
        {% if form.errors %}
            <div style="width:100%; max-height:80px; overflow-y: auto; border: 1px solid #eee; border-radius: 5px; background-color: #f9e9ea; margin-bottom: 10px;">
                {{ form.errors }}
                {{ attr_form.errors }}
            </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            {% include 'product/commission/type/_partial/_form_elements.html' %}
        </form>
    {% endif %}

{% endblock %}

