<div class="panel panel-default">
    <div class="panel-heading">Kategorie produktów</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="input-group input-group-smmmm">
                    <input type="text" class="form-control" name="add_category_name" id="id_add_category_name"/>
                    <span class="input-group-btn">
                     <button type="button" class="btn btn-default" name="add_category_btn" id="id_add_category_btn">Dodaj</button>
                </span>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div id="productCategoryTree"></div>
        </div>
    </div>
</div>
