{% extends "base.html" %}
{% load static %}

{% block form_icon %}fa fa-code-fork{% endblock %}
{% block form_title %}Typy danych atrybutów {% endblock %}
{% block form_subtitle %}Tworzenie / Edycja typów danych dla atrybutów produktów{% endblock %}
{% block form_title_right %}
    <button class="btn btn-success btn-submit" type="submit"><i class="fas fa-check"></i></button>
{% endblock %}

{% block site_script %}
    {#    {% include "employee/_partial/_site_script._js" %}#}
{% endblock %}

{% block site_inline_js %}
    <script type="text/javascript" src="{% static 'attribute/datatype/js/attribute-data-type.js' %}"></script>
{% endblock %}

{% block content %}

    <form method="post" id="issue-form">
        {% csrf_token %}
        {% include "attribute/datatype/_partial/_form_elements.html" with form=form %}

    </form>

{% endblock %}