<label for="priv_1"><input id="priv_1" type="checkbox" name="privs" value="1"/>Uprawnienie 1</label>
<label for="priv_2"><input id="priv_2" type="checkbox" name="privs" value="1"/>Uprawnienie 2</label>
<label for="priv_3"><input id="priv_3" type="checkbox" name="privs" value="1"/>Uprawnienie 3</label>
<label for="priv_4"><input id="priv_4" type="checkbox" name="privs" value="1"/>Uprawnienie 4</label>
<label for="priv_5"><input id="priv_5" type="checkbox" name="privs" value="1"/>Uprawnienie 5</label>
<label for="priv_6"><input id="priv_6" type="checkbox" name="privs" value="1"/>Uprawnienie 6</label>
<label for="priv_7"><input id="priv_7" type="checkbox" name="privs" value="1"/>Uprawnienie 7</label>
<label for="priv_8"><input id="priv_8" type="checkbox" name="privs" value="1"/>Uprawnienie 8</label>
<label for="priv_9"><input id="priv_9" type="checkbox" name="privs" value="1"/>Uprawnienie 9</label>
<label for="priv_10"><input id="priv_10" type="checkbox" name="privs" value="1"/>Uprawnienie 10</label>
<label for="priv_11"><input id="priv_11" type="checkbox" name="privs" value="1"/>Uprawnienie 11</label>
<label for="priv_12"><input id="priv_12" type="checkbox" name="privs" value="1"/>Uprawnienie 12</label>
<label for="priv_13"><input id="priv_13" type="checkbox" name="privs" value="1"/>Uprawnienie 13</label>
<label for="priv_14"><input id="priv_14" type="checkbox" name="privs" value="1"/>Uprawnienie 14</label>
<label for="priv_15"><input id="priv_15" type="checkbox" name="privs" value="1"/>Uprawnienie 15</label>
<label for="priv_16"><input id="priv_16" type="checkbox" name="privs" value="1"/>Uprawnienie 16</label>
<label for="priv_17"><input id="priv_17" type="checkbox" name="privs" value="1"/>Uprawnienie 17</label>
<label for="priv_18"><input id="priv_18" type="checkbox" name="privs" value="1"/>Uprawnienie 18</label>
<label for="priv_19"><input id="priv_19" type="checkbox" name="privs" value="1"/>Uprawnienie 19</label>
<label for="priv_20"><input id="priv_20" type="checkbox" name="privs" value="1"/>Uprawnienie 20</label>
