<template id="cyclicalSettingsTemplate">
    <div class="vertical-alignment-helper" style="max-width:80%">
        <div class="modal-dialog vertical-align-center">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Ustawienia zdarzenia cyklicznego</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            {% include 'py3ws/forms/fields/p3form_field.html' with field=form.repeat_period %}
                        </div>
                        {{ form.days_of_month.as_hidden }}
                        {{ form.days_of_week.as_hidden }}

                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="cyclicWeekdaysPanel" class="panel panel-default ">
                                <div class="panel-heading">Dni tygodnia</div>
                                <div class="panel-body">
                                    {% include 'schedule/modal/template/cyclical_settings_template/_partial/_weekdays_partial.html' %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div id="cyclicMonthdaysPanel" class="panel panel-default ">
                                <div class="panel-heading">Dni miesiąca</div>
                                <div class="panel-body">
                                    {% include 'schedule/modal/template/cyclical_settings_template/_partial/_monthdays_partial.html' %}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary confirm-btn" data-dismiss="modal">OK</button>
                    {#                    <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>#}
                </div>
            </div>
        </div>
    </div>
</template>