{% load product_tags %}
{% load l10n %}

<div class="row">
    <div class="col-lg-12">
        <div id="product-cashflow-formset-container">
            <div class="panel panel-default" style="position: relative">
                <div style="position: absolute; right: 10px; top: -10px;">
                    <div style="display: inline-block;">
                        <div class="reload-mt940 cashflow-icon cashflow-icon-mt940" style="background-color: #767676; margin-right: 20px;"
                             data-product_id="{{ form.instance.pk|unlocalize }}"
                             data-toggle="tooltip"
                             data-accounting_type_id="{{ cashflow_type.payment.id|unlocalize }}"
                             data-accounting_type_code="mt940"
                             data-accounting_type_name="{{ cashflow_type.payment.name }}"
                             title="załaduj dane z MT940">
                            <span style="pointer-events: none">M</span>
                        </div>
                        <div class="add cashflow-icon cashflow-icon-payment"
                             data-product_id="{{ form.instance.pk|unlocalize }}"
                             data-toggle="tooltip"
                             data-accounting_type_id="{{ cashflow_type.payment.id|unlocalize }}"
                             data-accounting_type_code="payment"
                             data-accounting_type_name="{{ cashflow_type.payment.name }}"
                             title="Wpłata">
                            <span>W</span>
                        </div>
                        <div class="add cashflow-icon cashflow-icon-cost"
                             data-product_id="{{ form.instance.pk|unlocalize }}"
                             data-toggle="tooltip"
                             data-accounting_type_id="{{ cashflow_type.cost.id }}"
                             data-accounting_type_code="cost"
                             data-accounting_type_name="{{ cashflow_type.cost.name }}"
                             data-subtypes ="{{ cashflow_type.cost.subtypes }}"
                             title="Koszt">
                            <span>K</span>
                        </div>

                        <div class="dropdown" style="display: inline;">
                            <div id="cashflowRemission" class="cashflow-icon cashflow-icon-remission"
                                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span data-toggle="tooltip" title="Umorzenie">U</span>
                            </div>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="cashflowRemission">
                                <li class="add" data-product_id="{{ form.instance.pk|unlocalize }}"
                                    data-accounting_type_id="{{ cashflow_type.rem_cap.id }}"
                                    data-accounting_type_code="rem_cap"
                                    data-accounting_type_name="{{ cashflow_type.rem_cap.name }}">
                                    <a href="#">Umorzenie kapitału</a>
                                </li>
                                <li class="add" data-product_id="{{ form.instance.pk|unlocalize }}"
                                    data-accounting_type_id="{{ cashflow_type.rem_comm.id }}"
                                    data-accounting_type_code="rem_comm"
                                    data-accounting_type_name="{{ cashflow_type.rem_comm.name }}">
                                    <a href="#">Umorzenie prowizji</a>
                                </li>
                                <li class="add" data-product_id="{{ form.instance.pk|unlocalize }}"
                                    data-accounting_type_id="{{ cashflow_type.rem_cost.id }}"
                                    data-accounting_type_code="rem_cost"
                                    data-accounting_type_name="{{ cashflow_type.rem_cost.name }}">
                                    <a href="#">Umorzenie kosztów</a>
                                </li>
                                <li class="add" data-product_id="{{ form.instance.pk|unlocalize }}"
                                    data-accounting_type_id="{{ cashflow_type.rem_interest.id }}"
                                    data-accounting_type_code="rem_interest"
                                    data-accounting_type_name="{{ cashflow_type.rem_interest.name }}">
                                    <a href="#">Umorzenie raty odsetkowej</a>
                                </li>
                                <li class="add" data-product_id="{{ form.instance.pk|unlocalize }}"
                                    data-accounting_type_id="{{ cashflow_type.rem_interest_for_delay.id }}"
                                    data-accounting_type_code="rem_interest_for_delay"
                                    data-accounting_type_name="{{ cashflow_type.rem_interest_for_delay.name }}">
                                    <a href="#">Umorzenie odsetek za opóźnienie</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

                <div class="panel-heading" style="display: inline-block; width: 100%;">
                    <div style="float:left; margin-right: 10px;">
                        Przepływy:
                    </div>
                    <div style="float:left;">
                        <div style="float: left;">
                            <a class="cashflow-aggregates-btn" href="#" class="btn btn-default" data-toggle="tooltip" title="Sumy przepływów według typu">
                                <i class="fas fa-calculator"></i></a></div>
                        <input id="toggleInstalment" type="checkbox" value="2" checked="checked"/>
                        <label for="toggleInstalment">Wpłaty ({{ cashflow_formset|get_cashflow_sum:'PAYMENT'|float_or_dash }})</label>
                        <input id="toggleCost" type="checkbox" value="1" checked="checked"/>
                        <label for="toggleCost">Koszty ({{ cashflow_formset|get_cashflow_sum:'COST'|float_or_dash }})</label>
                    </div>

                </div>
                <div class="panel-body">
                    <div style="height: 100%; overflow: auto;">

                        <table id="product-cashflow-formset-table" class="table table-hover table-bordered table-condensed">
                            <thead>
                            <tr>
                                {# TODO: obsłużyć w algorytmie kalkulacji !!!#}
                                {#                                    <th style="width: 50px;">Fakturowalny</th>#}
                                <th style="width:10%">Data rozliczenia</th>
                                <th style="width:10%">Data księgowania</th>
                                <th style="width:20%">Typ</th>
                                <th style="width:10%">Rodzaj</th>
                                <th style="width:10%">Wartość</th>
                                <th>Opis</th>
                                <th style="width:50px">Usuń</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i in cashflow_formset %}
                                {% include 'product/_partial/_formset/_row/_cashflow_formset_row_partial.html' with cashflow_form=i index=forloop.counter0 %}
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>