{% load static %}
{% load l10n %}
{% localize off %}
    <script>
        const csrf_token = '{{ csrf_token }}';
        const client = {"client_list_url": "{% url 'client.get_list' %}"};
        const calc_day_url = '{% url 'product.day_calculation' %}';
        const action_delete_url = '{% url 'product.action.delete' %}';
        const root_name = '{{ atm_root_name }}';
        const atm = {"id": "{{ product.pk }}", "root_dir_name": "product", "classname": "{{ atm_classname }}", "owner_classname": "{{ atm_owner_classname }}"};
        const id_product = {% if product.pk %}{{product.pk}}{% else %}null{% endif %};
        const mode = '{{ mode }}';

        _g.product = {
            id: {{ product.id }},
            document: {
                id: {{ product.document.id }}
            },
            startDate: '{{ product.start_date }}',
            capitalNet: {{ product.capital_net }},
            value: {{ product.value }},
            commission: {{ product.commission }},
            instalmentNumber: {{ product.schedule_set.all|length }},
            instalmentCapital: {{ product.instalment_capital }},
            instalmentCommission: {{ product.instalment_commission }},
            instalmentInterestRate: {{ product.instalment_interest_rate }},
            instalmentInterestCapitalTypeCalcSource: '{{ product.capital_type_calc_source }}',
            total: {{ product.value }},
            urls: {
                cashFlowUrl: '{% url 'product.api.cash_flow' %}',
                cashFlowAggregatesUrl:'{% url 'product.api.cash_flow_aggregates' %}'
            }
        }

        _g.document = {
            id: _g.product.document.id
        }

    </script>
{% endlocalize %}

