{% load humanize %}

{% load i18n %}

<div class="row">
    <div class="col-xs-12">
        <div class="header-name">
            {% if product.client.user.avatar_filename %}
                <div class="avatar-image-big pull-left">
                    <img src="{{ MEDIA_URL }}avatar/{{ product.client.user.avatar_filename }}">
                </div>
            {% else %}
                <div class="avatar-image-big pull-left">
                    <div class="name-letter-big"><i class="fa fa-user"></i></div>
                </div>
            {% endif %}
            <div>{{ product.client.user.first_name|default_if_none:'' }} {{ product.client.user.last_name }}
                {{ product.client.user.company_name|default_if_none:'' }}
            </div>
            <div><span style="font-size: 20px;">Wartość produktu: {{ product.value|float_or_dash }} </span></div>
        </div>
    </div>
    <div class="col-xs-12">

    </div>
</div>