<div id="userListModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Pracownicy<span style="color:#5b80b2"></span></h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <select id="addUserInputId"></select>
                </div>
                <table id="userListTable" class="table table-hover table-condensed user-list-table">
                    <thead>
                    <tr>
                        <th>Imię i nazwisko</th>
                        <th>E-mail</th>
                        <th>Pesel</th>
                        <th>Nip</th>
                        <th style="width:30px">&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
                <input type="hidden" id="userListHierarchyId" name="userListHierarchy"/>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>