<!-- Modal -->
<div id="entry-edit-dlg" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 center-block">
                        <div class="form-group">
                            <label>Etykieta:</label>
                            <input id="id_entry-label" name="entry-label" type="text" class="form-control input-sm"/>
                            <label>Wartość:</label>
                            <input id="id_entry-value" name="entry-value" class="form-control input-sm" maxlength="20"/></label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary save">Zapisz</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
            </div>
        </div>

    </div>
</div>