{% load static %}
<div class="modal fade" id="paste_screen_modal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="atmFormLabel">
                    Wklej obrazek printscreen
                </h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div style="width:100%; max-height: 400px; overflow: auto; text-align: center;">
                            <canvas tabindex="-1" style="border:1px solid #ddd;" id="paste_canvas" width="300" height="300"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="add_printscreen_btn" class="btn btn-success">Zapisz</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>
