{% load i18n %}
{% load l10n %}
{% load static %}
{% load humanize %}
{% load product_tags %}

<template id="productDashboardTemplate">
    <div class="panel panel-default" style="position: relative">
        <div style="position: absolute; right: 10px; top: -10px;">
                    <div style="display: inline-block;">
                        <div class="show-balance-per-day cashflow-icon"
                             style="background-color: #aa1818; margin-right: 20px; text-align: center"
                             data-toggle="tooltip"
                             title="pokaż saldo na dzień">
                            <span style="pointer-events: none">S</span>
                        </div>
                    </div>
        </div>
        <div class="panel-heading">Produkt stan na dzień {{ calc_max_date|date:"Y-m-d" }}</div>
        <div class="panel-body" style="height: calc(100vh - 200px);">
            <div class="product-dashboard">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3 text-center">
                                <div class="product-dashboard-container">
                                        <div class="product-dashboard-title">Data rozpoczęcia</div>
                                        <div class="product-dashboard-data-middle-font product-dashboard-font-stretched">
                                            __START_DATE__
                                        </div>
                                </div>
                            </div>
                            <div class="col-lg-3 text-center">
                                <div class="product-dashboard-container">
                                    <div class="product-dashboard-title">Status</div>
                                    <div class="product-dashboard-data-middle-font product-dashboard-font-stretched">
                                        __STATUS__
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="product-dashboard-container product-dashboard-capital-container">
                                        <div class="product-dashboard-title product-dashboard-title-capital-bg"
                                             style="position: relative">Saldo
                                        </div>
                                        <div class="product-dashboard-decimal">
                                            __BALANCE__
                                        </div>
                                </div>
                                <div>

                                    <table class="product-dashboard-datatable table product-dashboard-capital-container">
                                        <tbody>
                                        <tr>
                                            <td>kapitał niewymagalny</td>
                                            <td>__CAPITAL_NOT_REQUIRED__</td>
                                        </tr>
                                        <tr>
                                            <td>kapitał wymagalny</td>
                                            <td>__CAPITAL_REQUIRED__</td>
                                        </tr>
                                        <tr>
                                            <td>suma zobowiązań na dzień</td>
                                            <td>__REQUIRED_LIABILITIES_SUM__</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>


                            <div class="col-lg-3">
                                <div class="product-dashboard-container product-dashboard-interest-for-delay-container">
                                    <div class="product-dashboard-title product-dashboard-title-interest-bg">Odsetki</div>
                                    <div class="product-dashboard-decimal">
                                        __INTEREST_REQUIRED__
                                    </div>
                                </div>
                                <div>
                                    <table class="product-dashboard-datatable table product-dashboard-interest-for-delay-container">
                                        <tbody>

                                        <tr>
                                            <td>dziennie</td>
                                            <td>__INTEREST_REQUIRED_DAILY__</td>
                                        </tr>
                                        <tr>
                                            <td>suma</td>
                                            <td>__INTEREST_TOTAL__</td>
                                        </tr>
                                        <tr>
                                            <td>procent</td>
                                            <td>__INTEREST_RATE__</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="col-lg-3 text-center">
                                <div class="product-dashboard-container product-dashboard-cost-container">
                                    <div class="product-dashboard-title product-dashboard-title-cost-bg">Koszty</div>
                                    <div class="product-dashboard-decimal">
                                        __COST_TOTAL__
                                    </div>
                                </div>
                                <div>
                                    <table class="product-dashboard-datatable table product-dashboard-cost-container">
                                        <tbody>
                                        <tr>
                                            <td>na dzień</td>
                                            <td>__COST__</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="product-dashboard-container product-dashboard-payment-container">
                                    <div class="product-dashboard-title product-dashboard-title-payment-bg">Wpłaty</div>
                                    <div class="product-dashboard-decimal">
                                        __INSTALMENT_TOTAL__
                                    </div>
                                </div>
                                <div>
                                    <table class="product-dashboard-datatable table product-dashboard-payment-container">
                                        <tbody>
                                        <tr>
                                            <td>liczba wpłat</td>
                                            <td class="product-dashboard-decimal-integer-small product-dashboard-font-stretched">__PAYMENT_COUNT__</td>
                                        </tr>
                                        <tr>
                                            <td>liczba rat</td>
                                            <td class="product-dashboard-decimal-integer-small product-dashboard-font-stretched">__INSTALMENT_COUNT__</td>
                                        </tr>
                                        <tr>
                                            <td>suma rat mc</td>
                                            <td>__INSTALMENT_MC_SUM__</td>
                                        </tr>
                                        <tr>
                                            <td>rata balonowa</td>
                                            <td>__INSTALMENT_BALLOON__</td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
{#                    <div class="col-lg-3">#}
{#                        <table class="product-dashboard-datatable table product-dashboard-capital-container">#}
{#                            <tbody>#}
{#                            <tr>#}
{#                                <td>kapitał niewymagalny</td>#}
{#                                <td>__CAPITAL_NOT_REQUIRED__</td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td>kapitał wymagalny</td>#}
{#                                <td>__CAPITAL_REQUIRED__</td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td>suma zobowiązań na dzień</td>#}
{#                                <td>__REQUIRED_LIABILITIES_SUM__</td>#}
{#                            </tr>#}
{#                            </tbody>#}
{#                        </table>#}
{#                    </div>#}

{#                    <div class="col-lg-3">#}
{#                        <table class="product-dashboard-datatable table product-dashboard-interest-for-delay-container">#}
{#                            <tbody>#}
{##}
{#                            <tr>#}
{#                                <td>dziennie</td>#}
{#                                <td>__INTEREST_FOR_DELAY_REQUIRED_DAILY__</td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td>suma</td>#}
{#                                <td>__INTEREST_FOR_DELAY_TOTAL__</td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td>procent</td>#}
{#                                <td>__INTEREST_FOR_DELAY_RATE__</td>#}
{#                            </tr>#}
{#                            </tbody>#}
{#                        </table>#}
{#                    </div>#}

{#                    <div class="col-lg-3">#}
{#                        <table class="product-dashboard-datatable table product-dashboard-cost-container">#}
{#                            <tbody>#}
{#                            <tr>#}
{#                                <td>na dzień</td>#}
{#                                <td>__COST__</td>#}
{#                            </tr>#}
{#                            </tbody>#}
{#                        </table>#}
{#                    </div>#}

{#                    <div class="col-lg-3">#}
{#                        <table class="product-dashboard-datatable table product-dashboard-payment-container">#}
{#                            <tbody>#}
{#                            <tr>#}
{#                                <td>liczba wpłat</td>#}
{#                                <td>__PAYMENT_COUNT__</td>#}
{#                            </tr>#}
{##}
{#                            </tbody>#}
{#                        </table>#}
{#                    </div>#}

                </div>
            <hr/>

            </div>
        </div>
    </div>
</template>