<template id="calc_row_template">
    <tr>
        <td class="text-align-center" style="width:75px;">__CALC_DATE__</td>
        <td class="text-align-center">__CAPITAL_NOT_REQUIRED__</td>
        <td class="text-align-center">__CAPITAL_REQUIRED__</td>
        <td class="text-align-center">__INTEREST_REQUIRED__</td>
        <td class="text-align-center">__INTEREST_TOTAL__</td>
        <td class="text-align-center">__INTEREST_REQUIRED_DAILY__</td>
        <td class="text-align-center">__INSTALMENT_TOTAL__</td>
        <td class="text-align-center">__COST__</td>
{#        <td class="text-align-center">__COST_TOTAL__</td>#}
        <td class="text-align-center" style="font-size:12px;"><strong>__BALANCE__</strong></td>
        <td>
            <div class="btn-group">
                <a class="btn btn-danger btn-sm delete">
                    <i class="fa fa-times" style="color:#ffffff"></i>
                </a>
            </div>
        </td>
    </tr>
</template>