{% extends override_base|default:'base.html' %}
{% load i18n %}
{% load l10n %}
{% load static %}
{% load humanize %}
{% load product_tags %}

{% block form_icon %}
    fa fa-code-fork
{% endblock %}

{% block form_title %}Edycja produktu:
    {% if  product.client.user.company_name %}
        {{ product.client.user.company_name }} ({{ product.client.user.first_name|default_if_none:'' }}
        {{ product.client.user.last_name }})
    {% else %}
        {{ product.client.user.first_name|default_if_none:'' }}
        {{ product.client.user.last_name|default_if_none:'' }}
    {% endif %}
{% endblock %}

{% block form_subtitle %}
    {{ product.type.name }} | Nr Umowy: {{ product.agreement_no }}&nbsp;
{% endblock %}

{% block form_title_right %}
    <a id="showBalancePerDayBtn" href="#"
       class="show-balance-per-day btn btn-default btn-sm"
       title="Saldo na dzień"
       style="background-color: #b775ac; margin-right: 30px; text-align: center" data-toggle="tooltip">
        <span style="
              pointer-events: none;
              font-size: 24px;
              font-weight: bold;
              color: white;
              cursor: pointer;">S</span></a>

    <a id="productEditBtn" href="#" data-toggle="tooltip" title="Edytuj dane produktu"
       class="btn btn-default btn-sm btn-product-edit">
        <i class="far fa-edit"></i>
    </a>

    <a id="showDocBtn" href="{% url 'document.edit' product.document.pk %}" data-toggle="tooltip"
       title="Pokaż wniosek"
       class="btn btn-default btn-sm btn-show-doc">
        <i class="far fa-file-alt"></i>
    </a>

    <div style="margin-right: 30px; float: left;" class="available-statuses-btn-container">
        {% if product_previous_status %}
            <div style="float: left">
                <a data-id="{{ form.instance.pk }}"
                   data-id_status="{{ product_previous_status.pk }}"
                   id="revertProductStatus" href="#" class="btn btn-default" type="button" data-placement="bottom"
                   data-toggle="tooltip" title="Cofnij do: {{ product_previous_status.name }}"
                   style="float: left">
                    <i class="fa fa-undo" aria-hidden="true"></i>
                </a>
            </div>

        {% endif %}
        <div class="dropdown" style="float: left">
            <div id="changeStatus" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="true">
                <button id="changeStatusBtn" class="btn btn-success" type="button" style="transform: rotate(90deg);">
                    <i class="fas fa-code-branch" style="pointer-events: none"></i></button>
            </div>
            <div class="dropdown-menu dropdown-menu-right product-available-statuses-dropdown"
                 aria-label="changeStatus">
                <ul id="productStatuses">
                    {% for i in product_available_statuses %}
                        <li value="{{ i.available_status.pk }}">{{ i.available_status.name }}</li>
                    {% endfor %}
                </ul>
                <input type="hidden" id="productStatusId" value="{{ product.status.pk }}">
            </div>
        </div>
    </div>

    <a href="#" id="removeProductBtn" class="btn btn-danger btn-sm btn-remove-product">
        <i class="fa fa-times"></i>
    </a>

    <button class="btn btn-success btn-sm btn-save" type="button"><i class="fas fa-check"></i></button>
{% endblock %}

{% block site_css %}
    <link href="{% static 'dist/product/product-bundle.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'dist/report/report-bundle.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'dist/document_process_flow/document_process_flow-bundle.css' %}" rel="stylesheet"
          type="text/css">

{% endblock %}

{% block site_js %}
    <script type="text/javascript" src="{% static 'resource/dropzone/dropzone.js' %}"></script>
    <script type="text/javascript" src="{% static 'resource/jstree/dist/jstree.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'document/js/document.js' %}"></script>
    <script type="text/javascript" src="{% static 'document/type/js/document_type_process_flow.js' %}"></script>
    <script type="text/javascript" src="{% static 'document/type/js/utils.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/product/product-bundle.js' %}"></script>
{% endblock %}

{% block site_inline_js %}{% endblock %}

{% block site_any_script %}
    {% include "product/_partial/_site_script.html" %}
{% endblock %}

{% block content %}
    <div class="loader-container" id="loaderContainer">
        <div class="loader"></div>
    </div>

    {#        form:{{ form.errors }}#}
    {#        schedule: {{ schedule_formset.errors }}#}
    {#        cashflow: {{ cashflow_formset.errors }}#}
    {#        interest: {{ interest_formset.errors }}#}

    {% config_var 'MODE_VIEW' as mode_view %}


    {% if product %}
        <form method="post" id="product-form">
            {% csrf_token %}
            {% if product.type.is_schedule %}
                {{ schedule_formset.management_form }}
            {% endif %}
            {{ cashflow_formset.management_form }}
            {{ interest_formset.management_form }}
            {{ commission_formset.management_form }}
            {{ tranche_formset.management_form }}

            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#detail-tab">Parametry</a></li>
                {#                <li><a data-toggle="tab" href="#schedule-tab">Harmonogram</a></li>#}
                <li><a data-toggle="tab" href="#tranche-tab">Transze</a></li>
                {#                <li><a data-toggle="tab" href="#daystate-tab">Stan na dzień</a></li>#}
                <li><a id="calcTab" data-toggle="tab" href="#calc-tab">Kalkulacja</a></li>
                <li><a id="cashFlowTab" data-toggle="tab" href="#cashflow-tab">Przepływy</a></li>
                <li><a id="processFlowTab" data-toggle="tab" href="#processflow-tab">Przebieg procesu</a></li>
            </ul>

            <div class="tab-content pad-t">
                <div id="detail-tab" class="tab-pane fade in active">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="productDashboardContainer"></div>
                        </div>
                    </div>
                </div>

                <div id="schedule-tab" class="tab-pane fade in">
                    <div class="row">
                        <div class="col-lg-8">
                            <div id="product-schedule-formset-container">
                                <div class="panel panel-default">
                                    <div style="width: 100%; display: inline-block" class="panel-heading">
                                        <div style="float: left">Harmonogram</div>
                                    </div>
                                    <div class="panel-body">
                                        {% if product.type.is_schedule %}
                                            <div style="overflow: auto; height: 100%;">
                                                <div id="productInstalmentScheduleErrorContainer"></div>
                                                <table id="product-schedule-table"
                                                       class="table table-hover table-condensed table-striped">
                                                    <tbody id="productInstalmentScheduleContainer"></tbody>
                                                </table>
                                            </div>
                                        {% else %}
                                            <h3>Brak harmonogramu</h3>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% comment %}
                            <div class="col-lg-6 nopadding-left">
                                <div id="product-interest-formset-container">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" style="width: 100%">Odsetki
                                            <div style="float: right;">
                                                <div>
                                                    <a class="add interest-add-btn panel-heading-add-btn"
                                                       data-product-id="{{ product.pk|unlocalize }}">
                                                        <i class="fa fa-plus-circle"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <div style="height: 100%; overflow-y: auto;">
                                                <table id="product-interest-formset-table"
                                                       class="table table-hover table-condensed table-striped">
                                                    <thead>
                                                    <tr>
                                                        <th style="width:20%">Data od</th>
                                                        <th style="width:15%">Odsetki umowne</th>
                                                        <th style="width:15%">Odsetki za opóźnienie</th>
                                                        <th style="width:15%">Odsetki max. za opóźnienie</th>
                                                        <th>Sposób rozliczania</th>
                                                        <th style="width:50px"></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for i in interest_formset %}
                                                        {% include 'product/_partial/_formset/_row/_interest_formset_row_partial.html' with i=i index=forloop.counter0 %}
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endcomment %}
                    </div>
                </div>
                <div id="tranche-tab" class="tab-pane fade in">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="product-tranche-formset-container">
                                <div class="panel panel-default">
                                    <div style="position: absolute; right: 10px; top: -15px;margin-right: 20px">
                                        <div style="display: inline-block;">
                                            <div class="add add-tranche-button cashflow-icon"
                                                 style="background-color: #4472b8"
                                                 data-product_id="{{ product.pk|unlocalize }}"
                                                 data-toggle="tooltip"
                                                 data-accounting_type_code="tranche"
                                                 title="Dodaj transzę" type="button">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-heading" style="width: 100%">Transze</div>
                                    <div class="panel-body">
                                        {% if tranche_formset.non_form_errors %}
                                            {{ tranche_formset.non_form_errors }}
                                        {% endif %}

                                        <div style="height: 100%; overflow-y: auto;">
                                            <table id="product-tranche-formset-table"
                                                   class="table table-hover table-condensed table-striped">
                                                <thead>
                                                <tr>
                                                    <th style="width:10%">Data uruchomienia</th>
                                                    <th style="width:25%">Tytuł</th>
                                                    <th>Pożyczkodawca / Wierzyciel</th>
                                                    <th>Wartość</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for tranche_form in tranche_formset %}
                                                    {% include 'product/_partial/_formset/_row/_tranche_formset_row_partial.html' with tranche_form=tranche_form index=forloop.counter0 %}
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="commission-tab" class="tab-pane fade in">
                    <div class="dropdown pad-t">
                        <a href="#" class="dropdown-toggle btn btn-default btn-sm" type="button"
                           data-toggle="dropdown"
                           id="commission_dropdown_btn" aria-haspopup="true"
                           aria-expanded="false"><i class="fa fa-plus"></i></a>
                        <ul class="dropdown-menu" aria-labelledby="commission_dropdown_btn">
                            {% for c in product.type.commission_set.all %}
                                <li><a href="#" class="product-type-commission"
                                       data-id="{{ c.pk }}"
                                       data-type="{{ c.type }}"
                                       data-calculation_type="{{ c.calculation_type }}"
                                       data-period="{{ c.period }}"
                                >{{ c.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="col-lg-12 pad-t">
                        <table id="product-commission-formset-table" data-id="{{ product.pk }}"
                               class="table table-hover table-condensed">
                            <thead>
                            <th>Nazwa</th>
                            <th>typ</th>
                            <th>Okres</th>
                            <th>Kalkulacja</th>
                            <th>Wartość</th>
                            <th>od</th>
                            <th>do</th>
                            <th>Opis</th>
                            <th style="width:80px;">Aktywna</th>
                            <th>Usuń</th>
                            </thead>
                            <tbody>
                            {% for i in commission_formset %}
                                {% include 'product/_partial/_formset/_row/_commission_formset_row_partial.html' with i=i index=forloop.counter0 %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>


                <div id="daystate-tab" class="tab-pane fade in">
                    <div class="col-sm-12 pad-b">
                        <button id="datepicker_btn" class="btn btn-default btn-sm dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Dodaj stan na dzień
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="datepicker_btn">
                            <li>
                                <div id="datepicker11" class="center-text"></div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">Stan na dzień</div>
                            <div class="panel-body">
                                <table id="calc_day_table" class="table table-hover table-condensed">
                                    <thead>
                                    <tr>
                                        <th>Data</th>
                                        <th>Kapitał niewymagalny</th>
                                        <th>Kapitał wymagalny</th>
                                        <th>Odsetki wymagalne</th>
                                        <th>Odsetki naliczone</th>
                                        <th>Odsetki / dzień</th>
                                        <th>Wpłaty (suma)</th>
                                        <th>Koszty - stan na dzień</th>
                                        <th>Saldo</th>
                                        <th>Akcje</th>
                                    </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="calc-tab" class="tab-pane fade in">
                    {% include 'product/_partial/_calc_table_partial2.html' with calculation_list=calculation_list %}
                </div>

                <div id="cashflow-tab" class="tab-pane fade in">
                    {% include 'product/_partial/_cashflow_partial.html' with cashflow_formset=cashflow_formset %}
                </div>

                <div id="processflow-tab" class="tab-pane fade in">
                    {% include 'product/_partial/_product_process_flow.html' %}
                </div>

            </div>
        </form>

    {% endif %}

    <div id="productFormModal" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title" id="auditAnalysisModalLabel">Edycja produktu</div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="productFormContainer"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary modal-close-btn" data-dismiss="modal">Zamknij
                    </button>
                    <button type="button" class="btn btn-primary submit-form">Zapisz</button>
                </div>
            </div>
        </div>
    </div>

    <template id="productFormTemplate" data-url="/product/entity/api/">
        <form>
            <div class="form-group">
                <input type="text" id="capitalizationDate" name="capitalization_date"
                       class="form-control input-md vanilla-date-field datepicker-input"/>
                <label for="capitalizationDate">Data wypowiedzenia</label>
            </div>
            <input name="id" type="hidden"/>
        </form>
    </template>

    {% include 'product/_template/_main_client_row_template.html' %}
    {% include 'product/_template/_formset/_client_formset_row_template.html' %}
    {% include 'product/_template/_formset/_schedule_formset_row_template.html' with ef=schedule_formset.empty_form %}
    {% include 'product/_template/_formset/_cashflow_formset_row_template_v2.html' with ef=cashflow_formset.empty_form %}
    {% include 'product/_template/_formset/_tranche_formset_row_template.html' with ef=tranche_formset.empty_form %}
    {% include 'product/_template/_formset/_interest_formset_row_template.html' with ef=interest_formset.empty_form %}
    {% include 'product/_template/_formset/_commission_formset_row_template.html' %}
    {% include 'product/_template/calc_row_template.html' %}
    {% include 'product/_template/_product_dashboard_template.html' %}

    {% include 'product/_modal/calc_table_modal.html' %}
    {% include 'product/_modal/cashflow_aggregates_modal.html' %}
    {% include 'product/_modal/balance_per_day_modal.html' %}

    {% include 'report/modal/_report_modal.html' %}


{% endblock %}



