{% extends "base.html" %}
{% load mptt_tags %}
{% load i18n %}
{% load static %}

{% block form_icon %}fa fa-code-fork{% endblock %}
{% block form_title %}Produkty {% endblock %}
{% block form_subtitle %}Lista produktów dla typu: <strong>{{ product_type }}</strong>{% endblock %}
{% block form_title_right %}
{% endblock %}

{% block site_css %}
    <style>
        a, a:hover {
            color: unset;
        }

        .edit-btn {
            color: #168fd9;
            font-weight: bold;
            font-size: 20px;
        }

    </style>
{% endblock %}

{% block content %}
    <div class="col-lg-12 ">
        <div style="overflow: auto; height: calc(100vh - 150px);">
            {% if not products %}
                <div class="text-center">
                    <h2>Brak produktów do wyświetlania</h2>
                </div>
            {% else %}
                <table id="product_list" class="table table-hover table-condensed">
                    <thead>
                    <tr>
                        <th>Nr umowy</th>
                        <th>Typ</th>
                        <th style="white-space: nowrap">Wartość</th>
                        <th style="white-space: nowrap">Status</th>
                        <th>Imię i Nazwisko / Firma</th>
                        <th>PESEL</th>
                        <th>NIP</th>
                        {#                    <th>Adres</th>#}
                        <th>E-mail</th>
                        <th>Data utworzenia</th>
                        <th>Utworzył</th>

                        <th style="width:40px;"></th>
                    </tr>
                    </thead>
                    <tbody>


                    {% for product in products %}
                        <tr>
                            <td><a href="{% url 'document.edit' product.document.pk %}">{{ product.agreement_no }}</a>
                            </td>
                            <td>{{ product.document.type.name }}</td>
                            <td style="text-align: right; white-space: nowrap"><a
                                    href="{% url 'product.edit' product.pk %}">{{ product.value }}</a></td>
                            <td>{{ product.status }}</td>
                            <td><a href="{% url 'user.edit' product.client.user.pk 'CLIENT' %}">
                                {{ product.client.user.first_name|default_if_none:'----' }} {{ product.client.user.last_name }}</a>
                            </td>
                            <td><a href="{% url 'user.edit' product.client.user.pk 'CLIENT' %}">
                                {{ product.client.user.personal_id|default_if_none:'----' }}</a></td>
                            <td><a href="{% url 'user.edit' product.client.user.pk 'CLIENT' %}">
                                {{ product.client.user.nip|default_if_none:'----' }}</a></td>
                            {#                        <td style="white-space: nowrap"><a#}
                            {#                                href="{% url 'user.edit' product.client.user.pk 'CLIENT' %}">{{ product.client.user.mail_address|compact_address }}</a>#}
                            {#                        </td>#}
                            <td><a href="{% url 'user.edit' product.client.user.pk 'CLIENT' %}">
                                {{ product.client.user.email|default_if_none:'----' }}</a></td>
                            <td style="white-space: nowrap"><a href="{% url 'product.edit' product.pk %}">
                                {{ product.creation_date|date:'Y-m-d' }}</a></td>
                            {% if product.creation_user.is_superuser %}
                                <td>
                                    {{ product.creation_user.first_name|default_if_none:'----' }} {{ product.creation_user.last_name }}</td>
                            {% else %}
                                <td><a href="{% url 'user.edit' product.creation_user.pk %}">
                                    {{ product.creation_user.first_name|default_if_none:'----' }} {{ product.creation_user.last_name }}</a>
                                </td>
                            {% endif %}

                            <td>
                                <div class="btn-group">
                                    <a href="{% url 'product.edit' product.pk %}" class="edit edit-btn">
                                        <i class="far fa-edit"></i>
                                    </a>
                                </div>

                            </td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
                </div>
            {% endif %}
    </div>

{% endblock %}

{% block site_js %}
    {#    <script type="text/javascript" src="{% static 'dist/productListAll/productListAll-bundle.js' %}"></script>#}
{% endblock %}