<div class="row">
    <div class="col-lg-12 col-sm-12">
        <div class="form-group">
            <input type="text" name="street" class="form-control input-md"/>
            <label>Ulica</label>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 col-sm-4">
        <div class="form-group">
            <input type="text" name="street_no" class="form-control input-md"/>
            <label>Nr domu</label>
        </div>
    </div>

    <div class="col-lg-4 col-sm-4">
        <div class="form-group">
            <input type="text" name="apartment_no" class="form-control input-md"/>
            <label>Nr lokalu</label>
        </div>
    </div>

    <div class="col-lg-4 col-sm-4">
        <div class="form-group">
            <input type="text" name="post_code" class="form-control input-md"/>
            <label>Kod</label>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-8 col-sm-8">
        <div class="form-group">
            <input type="text" name="city" class="form-control input-md"/>
            <label>Miasto</label>
        </div>
    </div>

    <div class="col-lg-4 col-sm-4">
        <div class="form-group">
            <input type="text" name="country" class="form-control input-md" value="Polska"/>
            <label>Kraj</label>
        </div>
    </div>
</div>
<input type="hidden" name="address_id" />


