{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block form_icon %}fa fa-code-fork{% endblock %}
{% block form_title %}Nowa akcja dla produktu: {{ product.document.code }} {% endblock %}
{% block form_subtitle %}Nowa akcja: {{ action.name }}{% endblock %}

{% block form_title_right %}
    <a href="{% url "product.edit" product.pk %}" class="btn btn-default" type="button"><i class="fas fa-industry"></i></a>
    <a class="btn btn-success btn-sm btn-submit"><i class="fas fa-check"></i></a>
{% endblock %}

{% block content %}
    {% if form %}
        {{ form.errors }}
    {% endif %}
    {% if rd_form %}
        {{ rd_form.errors }}
    {% endif %}
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#action-tab">Dane akcji</a></li>
        <li><a data-toggle="tab" href="#report-tab">Dane pisma</a></li>
    </ul>


    <form method="post" id="product-form">
        <div class="tab-content pad-t">

            {% csrf_token %}
            <div id="action-tab" class="tab-pane fade in active">

                {% if form %}
                    {% include 'product/action/_partial/_form_elements.html' with form=form %}
                {% endif %}


            </div>

            <div id="report-tab" class="tab-pane fade in">

                <div class="row">
                    <div class="loader-container">
                        <div class="loader"></div>
                    </div>
                    <div class="col-lg-4">

                        <div class="panel panel-default">
                            <div class="panel-heading" style="display: inline-block; width: 100%;">
                                <div style="float: left;">{{ action.report.name }}</div>
                                <div style="float: right;"><a href="#" id="report_preview_btn" class="btn btn-default btn-sm"><i class="far fa-eye"></i></a></div>
                            </div>
                            <div class="panel-body" style="height: 500px; overflow: auto;">
                                <form id="rd_form">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>Nazwa</th>
                                            <th>Wartość</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for i in datasource %}
                                            <tr>
                                                <td>{{ i.name }}</td>

                                                <td>
                                                    {% if i.editable %}
                                                        {% include "py3ws/forms/fields/p3form_field.html" with field=rd_form|get_form_field:i.tag_name nolabel=True %}
                                                    {% else %}
                                                        {{ i.value|default_if_none:'' }}
                                                    {% endif %}
                                                </td>

                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="panel panel-default">
                            <div class="panel-heading">Podgląd raportu</div>
                            <div id="report_preview_container" class="panel-body" style="height: 500px;">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
{% endblock %}
{% block site_inline_js %}
    <script type="text/javascript" src="{% static 'product/action/js/product_action.js' %}"></script>
{% endblock %}

{% block site_any_script %}
    <script>
        let _globals = {
            csrf_token: '{{ csrf_token }}',
            idProduct:{{product.pk}},
            idAction: {{ action.pk }}
        }
    </script>
{% endblock %}

