{% if form.errors %}
    <div class="row">
        <div class="col-lg-12 col-sm-12">

            <div class="alert alert-danger">
                <div><h3 style="margin-top:0;"><strong>Wystąpiły błędy!</strong></h3></div>
                <div style="overflow-y:auto; max-height: 40px;">
                    <ul>
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li>
                                    <strong>{{ field.label }}</strong>: {{ error|escape }}
                                </li>
                            {% endfor %}
                        {% endfor %}

                        {% for error in form.non_field_errors %}
                            <li><strong>{{ error|escape }}</strong></li>
                        {% endfor %}

                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endif %}