{% extends "base.html" %}
{% load static %}

{% block form_icon %}fa fa-code-fork{% endblock %}
{% block form_title %}Przeglądnie użytkownika: {{ form.instance.first_name }} {{ form.instance.last_name }} {% if form.errors %} - <span class="error-header-info">wystąpiły błędy!</span>
{% endif %} {% endblock %}
{% block form_subtitle %}{% endblock %}
{% block form_title_right %}
    <button class="btn btn-success pull-right btn-submit" type="submit"><i class="fa fa-user pad-r"></i>Zapisz</button>
{% endblock %}

{% block site_script %}
{% endblock %}

{% block site_inline_js %}
    <script type="text/javascript" src="{% static 'user/js/user.js' %}"></script>
{% endblock %}

{% block content %}
    {{ form.errors }}
{{ perm_form.errors }}
    <form method="post" id="issue-form" autocomplete="off">
        {% csrf_token %}
        <div class="col-lg-12 col-sm-12">
            {% include "user/_partial/_form_elements.html" with form=form mode=mode hadr=homeaddress_form madr=mailaddress_form type=type products=products %}
        </div>
    </form>

{% endblock %}
