<template id="product_retail_template">
    <div id="product_retail_container" style="position:relative;">
        <label>Zakup detaliczny:</label>
        <div class="form-control" id="product_retail_list">
            <div class="function-btn function-add-btn product-retail-add-btn">
                <i class="fa fa-plus"></i>
            </div>
            <table class="table table-hover product-retail-list">
                <thead>
                <tr>
                    <th>Produkt</th>
                    <th>Cena jedn.</th>
                    <th>Ilość</th>
                    <th>Wartość</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>



                </tbody>
            </table>
        </div>
    </div>
</template>